# Sesión sincrónica 2

#### Unidad 3

1. ¿Qué son las estructuras de control de flujo - condicionales?
2. Selección y condiciones.
3. Selección simple, doble y múltiple

In [5]:
# secuencia

print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

### Acerca de las condiciones

In [3]:
condicion_a = True
condicion_b = False

In [7]:
condicion_c = True and True
condicion_d = True and False
condicion_e = False and True
condicion_f = False and False
print(condicion_c, condicion_d, condicion_e, condicion_f)

True False False False

In [8]:
condicion_g = True or True
condicion_h = True or False

condicion_i = False or True
condicion_j = False or False
print(condicion_g, condicion_h, condicion_i, condicion_j)

True True True False

In [16]:
# if ---> simple / opcional

edad_persona = 18
edad_minima_ingreso = 18

if(edad_persona >= edad_minima_ingreso):
    print("Bienvenido, puedes pasar")

Bienvenido, puedes pasar

In [17]:
# else ---> por defecto

edad_persona = 17
edad_minima_ingreso = 18

if(edad_persona >= edad_minima_ingreso):
    print("Bienvenido, puedes pasar")
    print("Bienvenido, puedes pasar")
    print("Bienvenido, puedes pasar")
    print("Bienvenido, puedes pasar")
else:
    print("No señor, no puede pasar...")

No señor, no puede pasar...

In [19]:
numero_incognita = 10

if(numero_incognita%2 == 0):
    print("El número es par")
else:
    print("El número es impar")

El número es par

In [21]:
# elif

#3 [Kinder]: 18 - 24
#2 [Adultos]: 25 - 35
#1 [Años Dorados]: 55 - 90

## ** sólo ingresas si tienes mas de 18 ** ##

edad_persona = 55

if(edad_persona >= 18):
    if( edad_persona >= 18 and edad_persona <= 24):
        print("Puede ingresar al kinder")
    elif(edad_persona >= 25 and edad_persona <= 35):
        print("Puede ingresar a adultos")
    elif(edad_persona >= 55 and edad_persona <= 90):
        print("Puede ingresar a Años Dorados")
    else: #### sólo si quiero bloquear el acceso al rango, y única selección.
        print("Puede ingresar a la plazoleta de comidas")
else:
    print("Lo siento, no pueden ingresar menores de edad")

# if
# if - else
# if - elif
# if - elif - elif - else

Puede ingresar a Años Dorados
Puede ingresar a la plazoleta de comidas

In [31]:
# elif

#4 [VIP]: 21 - 35
#3 [Jovenes]: 18 - 28
#2 [Adultos]: 25 - 35
#1 [Años Dorados]: 55 - 90

## ** sólo ingresas si tienes mas de 18 ** ##

edad_persona = 26
esta_en_rango = False

if(edad_persona >= 18):
    
    if( edad_persona >= 21 and edad_persona <= 35):
        print("Puede ingresar al VIP")
        esta_en_rango = True
        if(edad_persona >= 21 and edad_persona <= 26):
            print("combo muchachos")
        if(edad_persona >= 26 and edad_persona <= 35):
            print("combo adulto joven")
        
    if(edad_persona >= 18 and edad_persona <= 28):
        print("Puede ingresar a Jóvenes")
        esta_en_rango = True
        
    if(edad_persona >= 25 and edad_persona <= 35):
        print("Puede ingresar a Adultos")
        esta_en_rango = True
        
    if(edad_persona >= 55 and edad_persona <= 90):
        print("Puede ingresar a Años Dorados")
        esta_en_rango = True    
        
##  if(edad_persona > 35 and edad_persona < 55):
##  print("Puede ingresar a la plazoleta de comidas")
##        esta_en_rango = True    
        
    if(esta_en_rango == False):
        print("Puede ingresar a la plazoleta de comidas")
        
else:
    print("Lo siento, no pueden ingresar menores de edad")
    
print("otras cosas.... por hacer")

Puede ingresar al VIP
combo muchachos
combo adulto joven
Puede ingresar a Jóvenes
Puede ingresar a Adultos
otras cosas.... por hacer

In [33]:

# Ejercicio de selección computadores precio

limite_sin_iva = 1800000
precio_compu = 2000000

if(precio_compu <= limite_sin_iva):
    print("Precio es:", precio_compu)
else:
    print("Precio es:", precio_compu*1.19)

Precio es: 2380000.0

#### Unidad 4

1. ¿Qué son las estructuras de control de flujo - ciclos?
2. Ciclos en Python.

In [ ]:
print(1)
print(2)
print(3)
print(4)

In [45]:
print(1)
print(2)
print(2)
print(3)
print(3)
print(3)
print(4)
print(4)
print(4)
print(4)

1
2
2
3
3
3
4
4
4
4

In [48]:
# inicializacion 
valor = 1
while(valor < 5):
    conteo = 0
    while(conteo < valor):
        print(valor)
        conteo+=1    
    valor+=1

1
2
2
3
3
3
4
4
4
4

In [41]:
# while
conteo_aplausos = 0
edad_persona = 12

while(conteo_aplausos < edad_persona):
    if(conteo_aplausos%2 == 0): # 0 2 4 6 8 10
        print("Clap! 👏", conteo_aplausos)
    conteo_aplausos += 1

Clap! 👏 0
Clap! 👏 2
Clap! 👏 4
Clap! 👏 6
Clap! 👏 8
Clap! 👏 10

In [42]:
# while
conteo_aplausos = 0
edad_persona = 12

while(conteo_aplausos < edad_persona):
    if(conteo_aplausos%2==0):
        print("Clap! 👏")
    else:
        print("weeeepa! 🥳")    
    conteo_aplausos += 1

Clap! 👏
weeeepa! 🥳
Clap! 👏
weeeepa! 🥳
Clap! 👏
weeeepa! 🥳
Clap! 👏
weeeepa! 🥳
Clap! 👏
weeeepa! 🥳
Clap! 👏
weeeepa! 🥳

In [50]:
# for
estudiantes = ["Bryan", "Christian", "Alexa", "Angie"]
for estudiante in estudiantes:
    if(str(estudiante).startswith("A")):
        print("Hola!!", estudiante)

Hola!! Alexa
Hola!! Angie

In [59]:
# range
for x in range(97, 123): # [0,1,2,3,4,5,6,7,8,9] 
    print(chr(x))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [60]:
type(range(2, 10, 3))

range

In [61]:
import pandas as pd

names_list = [
    "Alice", "Bob", "Charlie", "David", "Emma", "Frank", "Grace", "Henry", "Isabella", "Jack",
    "Kate", "Liam", "Mia", "Noah", "Olivia", "Peter", "Quinn", "Rachel", "Samuel", "Taylor"
]

df = pd.DataFrame(names_list)

In [62]:
df

           0
0      Alice
1        Bob
2    Charlie
3      David
4       Emma
5      Frank
6      Grace
7      Henry
8   Isabella
9       Jack
10      Kate
11      Liam
12       Mia
13      Noah
14    Olivia
15     Peter
16     Quinn
17    Rachel
18    Samuel
19    Taylor